<div>
    <div class="row">
        <div class="col">
            <img alt="..." class="rounded mx-auto d-block" src="assets/resources/logo/logo.png"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button [class]="' btn btn-' + Theme.Background + ' text-' + Theme.Text " 
                routerLink="{{ PageUrls.HOME }}"
                type="button">
                {{ 'login.home' | translate }}
            </button>
        </div>
        <div class="col">
            <change-language [cpnClass]="' float-right '" ></change-language>
        </div>
    </div>
</div>