<div>
    <div class="row">
        <div class="col" >
            <h4 class="text-center" >{{ 'app.title' | translate }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col" >
            <p class="text-center">
                <span class="font-weight-bold" >Center System</span>cho phép quản lý nhiều thứ trong công việc và cuộc sống giúp cho cuộc sống dễ dàng
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col" >
            <ul class="list-group list-group-flush">
                <li [class]="' list-group-item bg-' + Theme.Background ">1. Quản lý thời gian</li>
                <li [class]="' list-group-item bg-' + Theme.Background ">2. Quản lý công việc</li>
                <li [class]="' list-group-item bg-' + Theme.Background ">3. Quản lý cuộc sống</li>
                <li [class]="' list-group-item bg-' + Theme.Background ">4. Quản lý chính mình</li>
            </ul>
        </div>
    </div>
</div>