<div class="h-100 row">
    <div class="m-auto">
        <div class=" login-box">
            <div class="row">
                <div [class]="' col-sm-12 col-md-12 col-lg-6 col-xl-6 pt-3 pb-3 border border-' + Theme.Background ">
                    <div class="row">
                        <div class="col">
                            <button [class]="'btn btn-outline-' + Theme.Background " 
                                routerLink="{{ Pages.LOGIN }}"
                                type="button">
                                {{ 'login.login' | translate }}
                            </button>
                        </div>
                        <div class="col">
                            <change-theme [cpnClass]="' float-right '" ></change-theme>
                        </div>
                    </div>
                    <login-logo></login-logo>
                    <div>
                        <div class="form-row" >
                            <div class="col">
                                <label for="email">
                                    {{ 'login.email' | translate }}
                                    <span class="text-red" >{{ 'app.required' | translate }}</span>
                                </label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon" id="emailprepend">
                                            <i class="fas fa-key">
                                            </i>
                                        </span>
                                    </div>
                                    <input aria-describedby="emailprepend" class="form-control" id="email" placeholder="{{ 'login.email' | translate }}" required="" type="text"/>
                                </div>
                                <div class="d-block invalid-feedback">
                                </div>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col">
                                <button [class]="' btn btn-' + Theme.Background + ' text-' + Theme.Text " 
                                    routerLink="{{ Pages.FORGET_PASSWORD }}" type="button">
                                    {{ 'login.confirmpass' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div [class]="' d-none d-lg-block col-lg-6 col-xl-6  pt-3 pb-3  bg-' + Theme.Background +  ' text-' + Theme.Text">
                    <login-info></login-info>
                </div>
            </div>
        </div>
    </div>
</div>